@{
    //Make a dictionary of all the navigation links. Based on the login state.
    List<Tuple<string, string, string>> navigationLinks = new List<Tuple<string, string, string>>();

    navigationLinks.Add(new Tuple<string, string, string>("Home", Href("~/Index.cshtml"), "fa-home"));
    navigationLinks.Add(new Tuple<string, string, string>("Wishlist", Href("~/Wishlist.cshtml"), "fa-star"));
}

<nav class="navbar navbar-expand-md ">

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">

            @foreach(var link in navigationLinks)
            {
                if(Page.Title == link.Item1)
                {
                     <li class="nav-item active nav-links">
                         <a class="nav-link" href="#">
                             <i class="fas @link.Item3"></i>
                             @link.Item1
                         </a>
                    </li>
                }
                else
                {
                     <li class="nav-item nav-links">
                         <a class="nav-link" href="#" align="center">
                             <i class="fas @link.Item3"></i>
                             @link.Item1
                         </a>
                    </li>
                }
            }
        </ul>
    </div>

    <div class="mx-auto order-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <i class="fas fa-align-justify"></i>
        </button>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item nav-links">
                <a class="nav-link" href="#" align="center">
                    <i class="fas fa-sign-in-alt"></i>
                    Login
                </a>
            </li>
            <li class="nav-item nav-links">
                <a class="nav-link" href="#" align="center">
                    <i class="fas fa-plus"></i>
                    Register
                </a>
            </li>
        </ul>
    </div>
</nav>
