<div class="container col-md-12">
    <div class="row">
        <h2> Wishlist code </h2>
    </div>

    <div class="row">
        <p> 
            Under this text is your wishlist code or the code of the wishlist you are visiting. <br/>
            You can enter the code of the wishlist you wish to visit!
        </p>
    </div>

    <div id="#code" class="row">

        @{

            string code = Page.HasWishlist ? Page.WishlistCode : "????????";
        }

        <form method="get" class="col-md-12">
            <input name="wl" id="code-input" class="form-control" type="text" value="@code" maxlength="8"/>'
            @if (!Page.HasWishlist)
            {
                <a id="code-btn" href="~/WishlistActions.cshtml?action=createWishlist" class="btn btn-large btn-success">Create!</a>
            }
            &nbsp;
            <button id="code-btn" class="btn btn-success" type="submit">Visit</button>
        </form>

        @if (!Page.HasWishlist)
        {
            <p id="code-txt"> Click the create button to make a new wishlist!</p>
        }
        else
        {
            <p id="code-txt"> Share the code above with the people that are invited.</p>
        }
    </div>

</div>