<div class="container col-md-12">
    <div class="row">
        <h2> Wishlist items </h2>
    </div>

    <ul id="sortable" class="list-unstyled">
        @if(Page.Items != null)
        {
            foreach(Item item in Page.Items)
            {
                <li>
                    <div class="container item-entry">
                        <div class="row">
                            <h3>@item.ItemName</h3>
                        </div>

                        <div class="row">
                            <p>@item.ItemDesc</p>
                            <p> @item.ItemPrice euro </p>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>