@{
    WishlistController controller = new WishlistController();

    Page.Title = "Wishlist";
    Page.ContentWidth = 7;

    Layout = "~/Layouts/_DefaultLayout.cshtml";

    List<Item> Items = null;
    string wishlistCode = "";
    bool hasWishlist = false;
    bool isWishlistOwner = false;

    if (!string.IsNullOrEmpty(Request.Params["code"]))
    {
        wishlistCode = Request.Params["code"];
        hasWishlist = !string.IsNullOrEmpty(wishlistCode);
        if (Authenication.LoggedIn)
        {
            string code = controller.GetLoggedInUserWishList(Authenication.LoginName);
            isWishlistOwner = code == wishlistCode;
            Items = controller.GetWishlistItems(wishlistCode, true);

        }
        else
        {
            Items = controller.GetWishlistItems(wishlistCode, false);
        }
    }
    else
    {
        if (Authenication.LoggedIn)
        {
            wishlistCode = controller.GetLoggedInUserWishList(Authenication.LoginName);
            hasWishlist = !string.IsNullOrEmpty(wishlistCode);

            if (hasWishlist)
            {
                Items = controller.GetWishlistItems(wishlistCode, true);
            }

            isWishlistOwner = true;
        }
    }
}

<div class="main-content col-md-8 offset-md-2">
    <div class="col-md-12">
        <div class="row">
            @RenderPage("~/Partials/Wishlist/_Code.cshtml", new {
               HasWishlist = hasWishlist,
               WishlistCode = wishlistCode
           })
        </div>

        <br/>

        @if (isWishlistOwner)
        {
            <div class="row">
                @RenderPage("~/Partials/Wishlist/_Controls.cshtml", new
               {
                   WishlistCode = wishlistCode
               });
            </div>
        }

        <div class="row">
            @RenderPage("~/Partials/Wishlist/_Items.cshtml", new
            {
                Items = Items,
                WishlistCode = wishlistCode,
                IsWishlistOwner = isWishlistOwner
            })
        </div>
    </div>
</div>