<!DOCTYPE html>
<html>
    <head>
        @RenderPage("~/Partials/_Head.cshtml")
    </head>

    <body>
        <div id="content" class="container">
            @RenderBody()
        </div>
    </body>
</html>