<!DOCTYPE html>
<html>
    <head>
        @RenderPage("~/Partials/_Head.cshtml")
    </head>

    <body>
        @{
            string[] classes =
            {
                "container",
                "fill",
                 "col-lg-" + Page.ContentWidth,
            };
        }
        <div id="content" class="@String.Join(" ", classes)">

            @RenderPage("~/Partials/_Banner.cshtml")

            @RenderBody()
        </div>
    </body>
</html>

